/* You can add custom styles here. */
h3 {
  padding: 0.2rem 2rem;
  border-left: 5px solid blue;
}

h2 {
  position: relative;
  display: inline-block;
  height: 48px;
  margin-left: 30px;
  padding: 1rem 2rem 1rem 3rem;
  color: #fff;
  background: #fa4141;
}

h2:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #fa4141 transparent transparent;
}

h2:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

h1 {
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
}