/* You can add custom styles here. */
h3 {
  padding: 0.2rem 2rem;
  border-left: 5px solid blue;
}

h2 {margin:15px 0px 15px 0px; padding: 5px 0px 5px 10px; border-left:solid 5px orange;background-color:floralwhite; font-size:20px; color:dimgray;}
h1 {
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
}